@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  background: #1b115e;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

@media (max-width: 500px) {
  .top-toolbar {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 40px;
  }

  .top-toolbar h2,
  i {
    font-family: 'Roboto';
    color: #fff;
  }

  .section-head {
    text-align: center;
    margin-top: 60px;
  }

  .section-head h1 {
    font-family: 'Roboto';
    font-size: 45px;
    font-weight: 600, bold;
    font-style: normal;
    color: #9490ff;
  }

  .section-head h3 {
    font-family: 'Roboto';
    font-size: 35px;
    font-weight: 400, medium;
    color: #edecff;
    padding-top: 20px;
  }
  .img {
    width: 160px;
    height: 160px;
    margin-left: -80px;
  }

  .head-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .head-text p {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 300, regular;
    line-height: 28px;
    color: #c8c8d4;
    margin-top: 4rem;
  }

  .head-text hr {
    border: 0;
    width: 85%;
    height: 0.5px;
    color: #ccc;
  }

  .lang-framework {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 4rem;
    padding-top: 2.5rem;
  }

  .lang-col {
    color: #9490ff;
    font-family: 'Roboto';
    font-size: 13px;
    line-height: 2.5rem;
  }

  .lang-framework {
    line-height: 2.5rem;
  }

  .lang-framework ul li {
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto';
  }

  .side-2 {
    background-image: url('circle 2 header@2x.png');
    background-repeat: no-repeat;
    background-position: top left -106px; 
  }

  .skills {
    margin-top: 1.6rem;
    margin-bottom: 1.8rem;
    padding-left: 2rem;
    line-height: 2.5rem;
  }
  .skills ul {
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto';
  }

  .social {
    margin-left: 5rem;
    align-items: center;
    padding: 5rem 1.5rem 0.6rem 1.5rem;
  }

  .social ul {
    display: flex;
    gap: 0.8rem;
  }
  
  .dn-page {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    font-family: 'Roboto';
  }
}
